<html lang="en">
<% include ../partials/header %>

    <body>
        <% include ../partials/nav %>
            <!-- temple profile -->
            <div class="container">
                <div class="row">
                    <div class="col-xs-10 col-sm-8 col-md-8 col-lg-12 col-xs-offset-1">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <% if (! data[2]) { %>
                                    <img src="http://placehold.it/500x500" alt="" class="img-rounded img-responsive" />
                                    <% } else { %>
                                        <img src="<%= data[2] %>" alt="" class="img-rounded img-responsive" />
                                        <% } %>
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h3>
                                    <%= data[0] %>
                                </h3>
                                <i class="glyphicon glyphicon-map-marker">
                                        </i>
                                <span><cite title="<%= data.address_link %>"> <%= data[1] %></cite></span>
                                <p>

                            </div>
                        </div>
                        <div class="row temple-list">
                            <h4>NEARBY TEMPLES</h4>
                            <ul>
                                <% for(var i=0; i< near_data.length; i++) { %>
                                    <li>

                                        <a href="/<%= near_data[i] %>">
                                            <%= near_data[i] %>
                                        </a>

                                    </li>
                                    <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <% include ../partials/footer %>
                <% include ../partials/scripts %>
    </body>

</html>